<?xml version="1.0"?>

<config>
	
	<modules>
		<Brainup_Cielo>
			<version>1.6.1</version>
		</Brainup_Cielo>
	</modules>
	
	<global>
		<models>
			<Brainup_Cielo>
				<class>Brainup_Cielo_Model</class>
			</Brainup_Cielo>
		</models>
		<resources>
			<Brainup_Cielo_setup>
				<setup>
					<module>Brainup_Cielo</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Brainup_Cielo_setup>
			<Brainup_Cielo_write>
				<connection>
					<use>core_write</use>
				</connection>
			</Brainup_Cielo_write>
			<Brainup_Cielo_read>
				<connection>
					<use>core_read</use>
				</connection>
			</Brainup_Cielo_read>
		</resources>
		<helpers>
			<Brainup_Cielo>
				<class>Brainup_Cielo_Helper</class>
			</Brainup_Cielo>
		</helpers>
		<blocks>
			<Brainup_Cielo>
				<class>Brainup_Cielo_Block</class>
			</Brainup_Cielo>
			<sales>
				<rewrite>
					<order_totals>Brainup_Cielo_Block_Sales_Order_Totals</order_totals>
				</rewrite>
			</sales>
			<adminhtml>
				<rewrite>
					<sales_order_totals>Brainup_Cielo_Block_Adminhtml_Order_Totals</sales_order_totals>
					<sales_order_invoice_totals>Brainup_Cielo_Block_Adminhtml_Order_Invoice_Totals</sales_order_invoice_totals>
				</rewrite>
			</adminhtml>
		</blocks>
		<sales>
			<quote>
				<totals>
					<interest>
						<class>Brainup_Cielo/quote_address_interest</class>
						<after>shipping</after>
						<before>grand_total</before>
					</interest>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<your_total>
					<class>Brainup_Cielo/order_invoice_interest</class>
					<after>shipping</after>
					<before>grand_total</before>
					</your_total>
				</totals>
			</order_invoice>
		</sales>
		<fieldsets>
			<sales_convert_quote_address>
				<interest>
					<to_order>*</to_order>
				</interest>
				<base_interest>
					<to_order>*</to_order>
				</base_interest>
			</sales_convert_quote_address>
			<sales_convert_order>
				<interest>
					<to_invoice>*</to_invoice>
					<to_shipment>*</to_shipment>
					<to_cm>*</to_cm>
				</interest>
				<base_interest>
					<to_invoice>*</to_invoice>
					<to_shipment>*</to_shipment>
					<to_cm>*</to_cm>
				</base_interest>
			</sales_convert_order>
			<sales_convert_quote_payment>
				<cc_owner_doc>
					<to_order_payment>*</to_order_payment>
				</cc_owner_doc>
			</sales_convert_quote_payment>
		</fieldsets>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
					<brainup_cielo_add_buttons>
						<type>model</type>
						<class>Brainup_Cielo/observer</class>
						<method>addButtons</method>
					</brainup_cielo_add_buttons>
				</observers>
			</core_block_abstract_prepare_layout_before>
		</events>
	</global>
	
	<frontend>
		<routers>
			<Brainup_Cielo>
				<use>standard</use>
				<args>
					<module>Brainup_Cielo</module>
					<frontName>brainupCielo</frontName>
				</args>
			</Brainup_Cielo>
		</routers>
		<layout>
			<updates>
				<Brainup_Cielo>
					<file>brainup-cielo.xml</file>
				</Brainup_Cielo>
			</updates>
		</layout>
		<translate>
			<modules>
				<Brainup_Cielo>
					<files>
						<default>Brainup_Cielo.csv</default>
					</files>
				</Brainup_Cielo>
			</modules>
		</translate>
	</frontend>
	<admin>
		<routers>
			<Brainup_Cielo>
				<use>admin</use>
					<args>
						<module>Brainup_Cielo</module>
						<frontName>brainupCielo</frontName>
					</args>
			</Brainup_Cielo>
		</routers>
	</admin> 
	<adminhtml>
		<translate>
			<modules>
				<Brainup_Cielo>
					<files>
						<default>Brainup_Cielo.csv</default>
					</files>
				</Brainup_Cielo>
			</modules>
		</translate>
		<events>
			<!-- observer para cancelar um pedido na cielo quando cancelado via magento -->
            <order_cancel_after>
                <observers>
                    <brainup_cielo_order_cancel>
                        <type>model</type>
                        <class>Brainup_Cielo/observer</class>
                        <method>cancelOrder</method>
                    </brainup_cielo_order_cancel>
                </observers>
            </order_cancel_after>
			<!-- observer para cancelar um pedido na cielo quando reembolsado via magento -->
            <sales_order_creditmemo_save_after>
                <observers>
                    <brainup_cielo_order_creditmemo>
                        <type>model</type>
                        <class>Brainup_Cielo/observer</class>
                        <method>createCreditmemo</method>
                    </brainup_cielo_order_creditmemo>
                </observers>
            </sales_order_creditmemo_save_after>
		</events>
		<acl>
			<resources>
				<admin>
					<children>
						<sales>
							<children>
								<order>
									<children>
										<actions>
											<children>
												<cielo-capture translate="title">
													<title>Cielo - Capture</title>
												</cielo-capture>
												<cielo-cancel translate="title">
													<title>Cielo - Cancel</title>
												</cielo-cancel>
												<cielo-consult translate="title">
													<title>Cielo - Consult WebService</title>
												</cielo-consult>
											</children>
										</actions>
									</children>
								</order>
							</children>
						</sales>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	
	
	<default>
		<payment>
			<Brainup_Cielo_Cc>
				<model>Brainup_Cielo_Model_Cc</model>
				<active>0</active>
				<buypage>loja</buypage>
				<environment></environment>
				<card_types>visa,mastercard,diners,discover,elo,amex,aura,jcb</card_types>
				<auto_capture>1</auto_capture>
				<autenticate>1</autenticate>
				<ssl_file></ssl_file>
				<title>Cartão de Crédito</title>
				<max_parcels_number>1</max_parcels_number>
				<installments_type>2</installments_type>
				<auto_capture>1</auto_capture>
				<cielo_number>1006993069</cielo_number>
				<cielo_key>25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3</cielo_key>
			</Brainup_Cielo_Cc>
		</payment>
		<payment>
			<Brainup_Cielo_Dc>
				<model>Brainup_Cielo_Model_Dc</model>
				<active>0</active>
				<buypage>loja</buypage>
				<environment></environment>
				<card_types>visa,mastercard</card_types>
				<ssl_file></ssl_file>
				<title>Cartão de Débito</title>
				<auto_capture>1</auto_capture>
				<cielo_number>1001734898</cielo_number>
				<cielo_key>e84827130b9837473681c2787007da5914d6359947015a5cdb2b8843db0fa832</cielo_key>
			</Brainup_Cielo_Dc>
		</payment>
	</default>

</config>